/* .about-para{
    padding-bottom: 80px;
    word-spacing: 8px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 15px;
}
.about-block{
    padding-right: 60px;
    padding-left:  60px;
}
.about-highlight-point{
    font-size: 14px;
    line-height:10px;
} */